.informer {
	display: flex;
	flex-wrap: wrap;
	background-color: var(--color-default);
}

.informer_view_default {
	background-color: var(--color-default);
}

// informer content
.informer__content {
	display: flex;
	flex-wrap: wrap;
	background-color: var(--color-default);
}

.informer__content_distribute_default {
	justify-content: flex-start;
}

.informer__content_distribute_between {
	justify-content: space-between;
}

.informer__content_distribute_center {
	justify-content: center;
}

.informer__content_space-a_xl {
	padding: map-get($map: $theme_space_default-short, $key: 'xl');
}

.informer__content_space-a_xxl {
	padding: map-get($map: $theme_space_default-short, $key: 'xxl');
	background-color: var(--color-default);
}

// action
.informer__action {
	display: flex;
	flex-wrap: wrap;
}

.informer__action_distribute_default {
	justify-content: flex-start;
}

.informer__action_distribute_between {
	justify-content: space-between;
}

.informer__action_distribute_center {
	justify-content: center;
}

.informer__action_space-a_xl {
	padding: map-get($map: $theme_space_default-short, $key: 'xl');
}

.informer__action_space-a_xxl {
	padding: map-get($map: $theme_space_default-short, $key: 'xxl');
}