button,
.button,
[class="button_size_"],
[class="button_width_"] {
	background-color: var(--color-accent);
	width: 100%;
	max-width: $button-width;
}

@each $size-title, $size-value in $button-height {
	.button_size_#{$size-title} {
		height: $size-value;
	}
}

.button_width_full {
	max-width: 100%;
}