// size: font-size line-height
$theme_size_default-short: (
	s:		7px		18px,
	m:		8px		21px,
	l:		10px	25px,
	xl:		11px	28px,
	xxl:	13px	34px
);

// Extended map sizes for element text__word
// size text: font-size-text
//						line-height-text
//						width-word-s
//						width-word-m
//						width-word-l
$theme_size_default: (
	s:		7px		18px	20px	48px	100px,
	m:		8px		21px	24px	56px	114px,
	l:		10px	25px	28px	68px	138px,
	xl:		11px	28px	32px	74px	154px,
	xxl:	13px	34px	36px	88px	184px
);

$theme_space_default-short: (
	xxxs:	2px,
	xxs:	4px,
	s:		12px,
	m:		16px,
	l:		20px,
	xl:		24px,
	xxl:	32px,
	xxxl:	40px,
);

$theme_space_default: (
	xxxs:		2px,
	xxs:		4px,
	xs:			8px,
	s:			12px,
	m:			16px,
	l:			20px,
	xl:			24px,
	xxl:		32px,
	xxxl:		40px,
	xxxxl:	48px,
	xxxxxl:	72px
);

$desktop: 1144px;
$mobile:	880px;

$size-fraction: (2, 3, 4, 5, 8);

// brands
$brands-colors: (
	yota:			#00c0f8,
	megafon:	#33c778,
	kcell:		#692b96,
	mts:			#f70000
);

$brands-logo-sizes: (
	xxs:	24px 24px,
	xs:		32px 32px,
	s:		40px 40px,
	m:		60px 60px,
	l:		80px 80px
);

// button size
$button-width: 200px;
$button-height: (
	s:		24px,
	m:		32px,
	l:		42px,
	xl:		56px,
	xxl:	64px
);

$input_size: (
	s:		24px,
	m:		32px,
	l:		42px,
	xl:		56px,
	xxl:	64px
);

$one-third: 1/3;
$half: 1/2; 
$two-third: 2/3;

// image placeholder 
$image-placeholder-default: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg width='80px' height='64px' viewBox='0 0 80 64' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3C!-- Generator: Sketch 52.5 (67469) - http://www.bohemiancoding.com/sketch --%3E%3Ctitle%3Eplaceholder%3C/title%3E%3Cdesc%3ECreated with Sketch.%3C/desc%3E%3Cg id='Page-1' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='image-placeholder' transform='translate(-500.000000, -368.000000)' fill='%23000000' fill-rule='nonzero'%3E%3Cg id='Group' transform='translate(500.000000, 368.000000)'%3E%3Cg id='placeholder'%3E%3Cpath d='M32,16 L48,16 L48,8 L56,8 L56,16 L64,16 L64,24 L72,24 L72,32 L80,32 L80,48 L72,48 L72,40 L64,40 L64,48 L56,48 L56,56 L48,56 L48,48 L32,48 L32,56 L24,56 L24,48 L16,48 L16,40 L8,40 L8,48 L0,48 L0,32 L8,32 L8,24 L16,24 L16,16 L24,16 L24,8 L32,8 L32,16 Z M24,32 L32,32 L32,24 L24,24 L24,32 Z M16,0 L24,0 L24,8 L16,8 L16,0 Z M16,56 L24,56 L24,64 L16,64 L16,56 Z M56,32 L56,24 L48,24 L48,32 L56,32 Z M64,0 L64,8 L56,8 L56,0 L64,0 Z M64,56 L64,64 L56,64 L56,56 L64,56 Z' id='Shape'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
$image-placeholder-inverse: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg width='80px' height='64px' viewBox='0 0 80 64' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3C!-- Generator: Sketch 52.5 (67469) - http://www.bohemiancoding.com/sketch --%3E%3Ctitle%3Eplaceholder%3C/title%3E%3Cdesc%3ECreated with Sketch.%3C/desc%3E%3Cg id='Page-1' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='image-placeholder' transform='translate(-620.000000, -368.000000)' fill='%23FFFFFF' fill-rule='nonzero'%3E%3Cg id='Group' transform='translate(500.000000, 368.000000)'%3E%3Cg id='placeholder' transform='translate(120.000000, 0.000000)'%3E%3Cpath d='M32,16 L48,16 L48,8 L56,8 L56,16 L64,16 L64,24 L72,24 L72,32 L80,32 L80,48 L72,48 L72,40 L64,40 L64,48 L56,48 L56,56 L48,56 L48,48 L32,48 L32,56 L24,56 L24,48 L16,48 L16,40 L8,40 L8,48 L0,48 L0,32 L8,32 L8,24 L16,24 L16,16 L24,16 L24,8 L32,8 L32,16 Z M24,32 L32,32 L32,24 L24,24 L24,32 Z M16,0 L24,0 L24,8 L16,8 L16,0 Z M16,56 L24,56 L24,64 L16,64 L16,56 Z M56,32 L56,24 L48,24 L48,32 L56,32 Z M64,0 L64,8 L56,8 L56,0 L64,0 Z M64,56 L64,64 L56,64 L56,56 L64,56 Z' id='Shape'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");